<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{%= title || name %} Test Suite</title>
  <!-- Load local jQuery, removing access to $ (use jQuery, not $). -->
  <script src="../libs/jquery/jquery.js"></script>
  <script>jQuery.noConflict()</script>
  <script src="../libs/jquery/jquery-ui.js"></script>
  <!-- Load local QUnit (grunt requires v1.0.0 or newer). -->
  <link rel="stylesheet" href="../libs/qunit/qunit.css" media="screen">
  <script src="../libs/qunit/qunit.js"></script>
  <!-- Load local lib and tests. -->
  <script src="../src/{%= name %}.js"></script>
  <script src="{%= name %}_test.js"></script>
</head>
<body>
  <h1 id="qunit-header">{%= title || name %} Test Suite</h1>
  <h2 id="qunit-banner"></h2>
  <div id="qunit-testrunner-toolbar"></div>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
  <div id="qunit-fixture">
    <span>lame test markup</span>
    <span>normal test markup</span>
    <span>awesome test markup</span>
  </div>
</body>
</html>
