<div class="todo {{#if done}} done {{/if}}">
  <div class="display">
    <input class="check" type="checkbox" {{#if done}} checked='checked' {{/if}}>
    <label class="todo-content">{{ content }}</label>
    <span class="todo-destroy"></span>
  </div>
  <div class="edit">
    <input class="todo-input" type="text" value="{{ content }}">
  </div>
</div>
