<span class="todo-count">
  <span class="number">{{ remaining }}</span>
  <span class="word">{{ remaining_noun }}</span> left.
</span>

<span class="todo-clear">
  <a href="#">
    Clear <span class="number-done">{{ done }}</span>
    completed <span class="word-done">{{ done_noun }}</span>
  </a>
</span>
